<%
	// CREATE ALIASES
    const acclab_suites = locals.metadata.site.acclab_suites
    const menu_list = locals.metadata.site.menu_list
    const title = locals.metadata.site.title

    const language = locals?.language?.sort((a, b) => a?.lang?.localeCompare(b?.lang))
    .map(item => ({
      ...item,
      label: item.lang ? item.lang.toUpperCase() : null
    })) || [];

    const user = locals.metadata?.user 
    const profile_url = locals?.metadata?.page?.profile_url
%>

<header class="country-header country-load-animation">
  <section class="header">
    <div class="grid-container fluid">
      <div class="grid-x grid-margin-x align-content-middle">
        <div class="cell small-8 large-4 shrink align-self-middle top-left">
          <a href="/" class="logo" tabindex="0" title="UNDP Logo homepage link">
            <img
              src="https://design.undp.org/images/undp-logo-blue.svg"
              alt="UNDP Logo"
            />
          </a>
          <div class="site-title">
            <span
              ><a href="/" title="UNDP homepage link"
                >Accelerator Labs</a
              ></span
            >
            <span><a href="/" title="UNDP homepage link"><%= title %></a></span>
          </div>
        </div>
        <div class="cell small-1 large-auto align-content-middle top-center">
          <nav class="menu">
            <ul class="">
              <li class="has-submenu">
                <a href="#" class="" tabindex="0" aria-expanded="true">
                  Platforms
                </a>
                <ul class="submenu" data-submenu="true">
                  <% for (menu of acclab_suites) { %>
                  <li class="">
                    <a href="<%- menu.url %>" target="_blank" class="external" tabindex="0">
                      <%- menu.title %>
                      <span class="external-link-animated"><i></i></span>
                    </a>
                  </li>
                <% } %>
                </ul>
              </li>
              <% for ( menu of menu_list) { %>
              <li
                data-menu-id="<%= menu.title.toLowerCase().replace(/\s+/g, '') %>"
              >
                <a target="_blank" href="<%= menu.url %>" tabindex="0"
                  ><%= menu.title %></a
                >
              </li>
              <% } %>

              <li
                data-menu-id="toolkit"
              >
                <a  href="/browse/toolkit"
                  >Toolkits</a
                >
              </li>

              <li
                data-menu-id="explore"
              >
                <a  href="/browse"
                  >Explore</a
                >
              </li>
            </ul>
          </nav>
        </div>
        
        <div class="cell small-3 large-auto top-right">
          <div class="dropdown-language">
            <button
              class="blue"
              aria-label="English, Select your language"
              aria-expanded="false"
            >
              Select Language
            </button>
            <ul role="menu" id="languageMenu"></ul>
          </div>
          <button class="menu-hamburger" aria-label="menu-icon">
            <span class="hamburger-line line-top"></span>
            <span class="hamburger-line line-middle"></span>
            <span class="hamburger-line line-bottom"></span>
            Nav toggle
          </button>

          <a id="fa-user" href="<%- profile_url %>" target="_blank">
            <i class="fa fa-user"></i>
            <% if (user?.uuid) {%>
              <span class="help"><% user?.name || '' %></span>
            <%} %>
          </a>
        </div>
        

        <div class="mobile-nav">
          <div class="grid-x">
            <div class="cell mobile-links">
              <ul>
                <% for (menu of menu_list) { %>
                <li
                  data-menu-id="<%= menu.title.toLowerCase().replace(/\s+/g, '') %>"
                >
                  <a
                    target="_blank"
                    class="cta__link cta--space"
                    href="<%= menu.url %>"
                    tabindex="0"
                    ><%= menu.title %></a
                  >
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<div id="loader" class="loader"></div>