<!DOCTYPE html>
<%
	// CREATE ALIASES

%>
<html>
<head>

<%- include ('../partials/head.ejs') %>
<%- include ('../partials/menu.ejs') %>

<%- include ('./banner.ejs') %>

<div class="p-10 mt-5">
	<%- include ('./stats.ejs') %>
</div>

<div class="grid-container fluid content-bottom">
</div>

<%- include ('../partials/footer.ejs') %>
</body>
</html>
