<% 
    // CREATE ALIASES 
    const f_total_record = locals?.f_total_record || 0;
    const countries = locals?.countries || 0;
    const doc_type = locals?.doc_type || 0;
    const lang_count = locals?.lang_count || 0;
    const sources = locals?.sources || [];
%>

<div class="featured-card-container px-5">
<div
  class="stats-card-slider swiper-slider-0 swiper-backface-hidden"
  data-swiper-mobile="true"
>
  <div class="swiper-scrollbar">
    <div
      class="swiper-scrollbar-drag"
    ></div>
  </div>
  <div
    class="swiper-wrapper"
    id="swiper-wrapper-e3f24eeeea467d6c"
    aria-live="polite"
  >
    <div
      class="stats-card-parallax parallax-slide"
    >
      <div class="swiper-slide" aria-label="1 / 6" role="group">
        <div class="stats-card small">
          <div>
            <div>
              <h2
                class="stats-card-count"
                tabindex="0"
                data-viewport="false"
              >
                <%= f_total_record %>
              </h2>
            </div>
          </div>
          <div>
            <h4 class="" tabindex="0" data-viewport="false">Records</h4>
            <p>Explore a collection of insightful records covering various topics and achievements.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide" aria-label="2 / 6" role="group">
        <div class="stats-card small">
          <div>
            <div>
              <h2
                class="stats-card-count"
                tabindex="0"
                data-viewport="false"
              >
                91 
              </h2>
            </div>
          </div>
          <div>
            <h4 class="" tabindex="0" data-viewport="false">Locations</h4>
            <p>Discover content contributed from a diverse range of about <%= countries %> countries, providing a global perspective.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide" aria-label="3 / 6" role="group">
        <div class="stats-card small">
          <div>
            <div>
              <h2
                class="stats-card-count"
                tabindex="0"
                data-viewport="false"
              >
                <%= doc_type %> 
              </h2>
            </div>
          </div>
          <div>
            <h4 class="" tabindex="0" data-viewport="false">Document types</h4>
            <p>Delve into a variety of document types showcasing innovative approaches and achievements across different domains.</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="stats-card-parallax parallax-slide"
    >
      <div class="swiper-slide" aria-label="4 / 6" role="group">
        <div class="stats-card small">
          <div>
            <div>
              <h2
                class="stats-card-count"
                tabindex="0"
                data-viewport="false"
              >
                <%= lang_count %>
              </h2>
            </div>
          </div>
          <div>
            <h4 class="" tabindex="0" data-viewport="false">Document Languages</h4>
            <p>Explore documents available in different languages, facilitating accessibility and understanding.</p>
          </div>
        </div>
      </div>
      <% for (source of sources){ %>
        <div class="swiper-slide" aria-label="5 / 6" role="group">
          <div class="stats-card small">
            <div>
              <div>
                <h2
                  class="stats-card-count"
                  tabindex="0"
                  data-viewport="false"
                >
                  <%= source.value %>
                </h2>
              </div>
            </div>
            <div>
              <h4 class="" tabindex="0" data-viewport="false"><%= source.label %></h4>
              <p>Explore documents sourced from <%= source.label %> and gain insights into specific topics.</p>
            </div>
          </div>
        </div>
      <%}%>
    
    </div>
  </div>
</div>
</div>